<!DOCTYPE html>
<html>
<head>
    <title>System Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        pre {
            background-color: #333;
            color: #f0f0f0;
            padding: 15px;
            border-radius: 5px;
            overflow-x: auto;
            white-space: pre-wrap;
            font-family: monospace;
        }
        .info-item {
            margin-bottom: 10px;
        }
        body {
            font-family: monospace;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>System Information</h1>
        
        <div class="info-item">
            <strong>Name:</strong> {{ name }}
            <br>
        </div>
        
        <div class="info-item">
            <strong>Username:</strong> {{ username }}
        </div>
        
        <div class="info-item">
            <strong>Server Time (IST):</strong> {{ server_time }}
        </div>
        <div>
            <strong>I forgot to submit the repository link in the form. Please consider the link from here:<strong>
        <a href="https://github.com/microz101/cuddly-spoon"> https://github.com/microz101/cuddly-spoon</a>

        
        <h2>TOP Output:</h2>
        <pre>{{ top_output }}</pre>
    </div>
</body>
</html>